/node_modules
/public/hot
/public/storage
/public/uploads
/public/files/*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/seeds/FillPA_NOT_WORKING.php
database/seeds/FillVessel_NOT_WORKING.php
public/backup/*
rootCA.key
public/particulars
public/del
public/prospectForms/*
public/ssFile/*