.preloader{
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: rgba(240,241,242,0.95) url('../svg/preloader.svg') no-repeat center center;"
}

.box-body{
	margin: 0px 20px 0px 20px;
}

.invalid-feedback {
	line-height: 1.6;
    font-family: Nunito,sans-serif;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e3342f;
}

.swal2-container .iLabel{
	margin-top: 10px;
	text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.select2-dropdown--below{
	z-index: 2000 !important;
}

.select2-selection__rendered{
	text-align: left;
}

.dataTable thead tr{
	background-color: #4d729f;
	color: white;
}

.btn{
	background-color: #4d729f;
	border: #4d729f;
	color: white;
}

.btn:hover{
	background-color: orange;
	border: orange;
	color: white;
}

.btn-danger:hover{
	background-color: #dd4b39;
	border-color: #d73925;
}

.dataTable tr:hover{
	 background-color: #84b5f0 !important;
}

.sidebar a{
	font-weight: bolder;
}

.breadcrumb{
	font-weight: bold !important;
}

.sidebar .header{
	color: grey !important;
	font-weight: bold;
}

.content-header h1{
	font-weight: bold;
}

.dataTable td, .dataTable th{
	vertical-align: middle !important;
}

.skin-blue .sidebar a{
	color: white !important;
}

.main-sidebar, .skin-blue .main-header .navbar, .skin-blue .main-header .logo{
	background-color: #4d729f !important;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a{
	background: #369589;
}

.content-wrapper{
	margin-left: 200px;
}

/*should be the same with content-wrapper*/
.main-sidebar{
	width: 200px;
}

.sidebar{
	margin-top: 15px;
}

.main-header .logo{
	height: 50px;
	width: 200px;
}

.main-header .navbar-static-top, .main-footer{
	margin-left: 200px;
}

.main-header .logo img{
	border: rgba(255,255,255,0.5) 1px solid;
}