.preloader{
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: rgba(240,241,242,0.95) url('../svg/preloader.svg') no-repeat center center;"
}

.box-body{
	margin: 0px 20px 0px 20px;
}

.invalid-feedback {
	line-height: 1.6;
    font-family: Nunito,sans-serif;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e3342f;
}